In [1]:
import pandas as pd 
import numpy

In [3]:
df = pd.read_csv("heights (2).csv")
df.sample(5)

       name  height
11  deepika     5.9
8      john     5.6
7    selena     5.5
13    binod     6.1
16   donald     7.1

In [5]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

# Detect outliers using IQR

In [8]:
Q1 = df.height.quantile(0.25)
Q3 = df.height.quantile(0.75)
Q1, Q3

(5.3500000000000005, 6.275)

In [10]:
IQR = Q3 - Q1
IQR

0.9249999999999998

In [12]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(3.962500000000001, 7.6625)